.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


//Estilos tema 2

.bg1-tema2
  background-image: url("../assets/curso/temas/tema2/bg1.png")
  background-size: 100% 100%

.l-p
  border-bottom: dashed 1px #b0c0d2 !important

.bg2-tema2
  background-image: url("../assets/curso/temas/tema2/bg2.png")
  background-repeat: no-repeat
  background-size: 35% 100%
  @media (max-width: 500px)
    background-size: 60% 100%

.bg2-tema2-v2
  background-image: url("../assets/curso/temas/tema2/bg2.png")
  background-repeat: no-repeat
  background-size: 43% 100%
  @media (max-width: 500px)
    background-size: 60% 100%

.cajon.color-tema2:before
  background-color: #12263F

.cajon.color-tema2
  background-color: #F7F8FB

.cajon.color-tema2-1:before
  background-color: #12263F

.cajon.color-tema2-1
  background-color: #D5F6FF

.bg3-tema2
  background-image: url("../assets/curso/temas/tema2/bg3.png")
  background-size: 100% 100%

.bg4-tema2
  background-color: #EDF7FE !important
  background-size: 100% 100%